body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .chat-window {
    max-width: 1500px; /* Limitar el ancho del chat */
    margin: 0 auto; /* Centrar horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden; /* Evitar desbordamiento */
    display: flex;
    flex-direction: column;
  }
  
  
  .chat-header {
    background: #000066;
    color: white;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    max-height: 800px; /* Limitar la altura del chat */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    position: relative;
  }
  
  .header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 5px; /* Reducir el espacio entre icono y texto */
    font-size: 14px; /* Reducir tamaño del nombre */
  }
  
  /* Estilo para el icono */
  .user-info svg {
    width: 20px;
    height: 20px;
    fill: white;
  }
  
  .chat-log {
    max-height: 800px; /* Limitar la altura */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .chat-footer input {
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .chat-footer button {
    background: #000066;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }

  .chat-footer button:hover {
    background-color: #000066;
  }
  
  .message {
    word-wrap: break-word; /* Evitar desbordamiento */
    white-space: pre-wrap; /* Manejar saltos de línea */
    max-width: 70%; /* Limitar el ancho de los mensajes */
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    direction: ltr; /* Asegurar que el texto se lea de izquierda a derecha */
  }
  
  .user-message {
    align-self: flex-end; /* Mueve los mensajes del usuario a la derecha */
    background-color: #000066; /* Color más destacado */
    color: white;
    text-align: left; /* Mantener alineación del texto */
    border-radius: 10px 10px 0 10px;
  }
  
  .bot-message {
    align-self: flex-start; /* Mueve los mensajes del bot a la izquierda */
    background-color: #f1f1f1; /* Fondo gris claro */
    color: black;
    text-align: left; /* Mantener alineación del texto */
    border-radius: 10px 10px 10px 0;
  }
  
  .loader {
    text-align: center;
    color: gray;
  }
  
  .code-block {
    position: relative;
    margin-bottom: 10px;
  }

  .code-block pre {
    background-color: #D3D3D3;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: "Courier New", Courier, monospace;
    max-width: 100%; /* Evitar que el código exceda el ancho */
    white-space: pre-wrap; /* Ajustar el texto largo */
    word-wrap: break-word;
  }
  
  .code-block button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #000066;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .code-block button:hover {
    background-color: #000066;
  }

  .copy-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #000066;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .copy-button:hover {
    background-color: #000066;
  }
  
  .feedback-buttons {
    margin-top: 10px;
  }
  
  .feedback-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .feedback-buttons button:hover {
    transform: scale(1.1);
  }
  
  h3 {
    font-size: 18px;
    color: #333;
    margin: 15px 0 10px;
  }
  
  ol {
    margin: 10px 0;
    padding-left: 20px;
  }
  
  ol li {
    margin-bottom: 5px;
    line-height: 1.5;
  }
  
  b {
    font-weight: bold;
  }
  
  i {
    font-style: italic;
  }